<h2 class="text-center">Welcome to</h2>
<h1 class="text-center">Man of Culture WebUI</h1>
<h4 class="text-center">Click on "Authenticate via Discord" to continue</h4>
<div class="text-center page-wrapper">
  <a href="<%- redirectUri %>" class="discord-button">Authenticate via Discord</a>
</div>