<h1 class="text-center">Image Grid</h1>
<div class="container">
  <image-grid data-pagination-amount="60">
    <div class="pagination-controls">
      <input type="radio" class="custom-radio" name="pagination_type" value="infinite" id="pagination_infinite">
      <label for="pagination_infinite">Infinite</label>
      <input type="radio" class="custom-radio" name="pagination_type" value="pagination" id="pagination_per_page" checked="">
      <label for="pagination_per_page">Per page</label>
    </div>

    <pagination-nav>
      <tag-search>
        <button type="button" data-action="open-controls">
          Search tags...
        </button>
        <div class="tag-search__controls hidden">
          <input type="text">
          <svg data-action="search">
            <use xlink:href="#search"></use>
          </svg>
        </div>
      </tag-search>

      <jump-to-page>
        <button type="button" data-action="open-controls">
          Jump to...
        </button>
        <div class="jump-to-page__controls hidden">
          <button type="button" data-action="subtract">
            <svg>
              <use xlink:href="#minus"></use>
            </svg>
          </button>

          <input type="text" pattern="[0-9]" value="1">

          <button type="button" data-action="add">
            <svg>
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </jump-to-page>

      <div class="pagination-nav">
        <!-- This is rendered by JavaScript -->
      </div>
    </pagination-nav>

    <div class="grid-wrapper grid">
      <% for (let i = 0; i < 60; i++) { %>
        <div class="grid-item">
          <img src="" class="lazyload">
        </div>
      <% } %>
    </div>

    <pagination-nav>
      <jump-to-page>
        <button type="button" data-action="open-controls">
          Jump to...
        </button>
        <div class="jump-to-page__controls hidden">
          <button type="button" data-action="subtract">
            <svg>
              <use xlink:href="#minus"></use>
            </svg>
          </button>

          <input type="text" pattern="[0-9]" value="1">

          <button type="button" data-action="add">
            <svg>
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </jump-to-page>
      
      <div class="pagination-nav">
        <!-- This is rendered by JavaScript -->
      </div>
    </pagination-nav>
  </image-grid>
</div>