<div class="container">
  <image-grid data-pagination-amount="60">
    <pagination-nav>
      <jump-to-page class="jump-to-page--top">
        <button type="button" data-action="open-controls">
          Jump to...
        </button>
        <div class="jump-to-page__controls hidden">
          <button type="button" data-action="subtract">
            <svg>
              <use xlink:href="#minus"></use>
            </svg>
          </button>

          <input type="text" pattern="[0-9]" value="1">

          <button type="button" data-action="add">
            <svg>
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </jump-to-page>

      <div class="pagination-nav">
        <!-- This is rendered by JavaScript -->
      </div>
    </pagination-nav>

    <div class="grid-wrapper grid">
      <% for (let i = 0; i < 60; i++) { %>
        <div class="grid-item">
          <img src="" class="lazyload">
          <div class="rank__background"></div>
        </div>
      <% } %>
    </div>

    <pagination-nav>
      <jump-to-page class="jump-to-page--bottom">
        <button type="button" data-action="open-controls">
          Jump to...
        </button>
        <div class="jump-to-page__controls hidden">
          <button type="button" data-action="subtract">
            <svg>
              <use xlink:href="#minus"></use>
            </svg>
          </button>

          <input type="text" pattern="[0-9]" value="1">

          <button type="button" data-action="add">
            <svg>
              <use xlink:href="#plus"></use>
            </svg>
          </button>
        </div>
      </jump-to-page>
      
      <div class="pagination-nav">
        <!-- This is rendered by JavaScript -->
      </div>
    </pagination-nav>
  </image-grid>
</div>