<about-modal class="hidden">
  <div class="about-modal__inner">
    <div class="about-modal__close">
      <button type="button" data-action="close-about">
        <svg>
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>

    <div class="about-modal__info-container">
      <h3>About</h3>
      <div class="about-modal__info">
        <div class="about-modal__profiles">
          <div class="about-modal__profile">
            <a href="https://github.com/Spkz" target="_blank">
              <img src="https://avatars.githubusercontent.com/u/19599808?v=4" alt="Spkz">
              <h4>Spkz</h4>
            </a>
            <p>Frontend & Middleware development</p>
          </div>
  
          <div class="about-modal__profile">
            <a href="https://github.com/legekka" target="_blank">
              <img src="https://avatars.githubusercontent.com/u/6626126?v=4" alt="legekka">
              <h4>legekka</h4>
            </a>
            <p>Backend & AI development</p>
          </div>
        </div>

        <div class="about-modal__description">
          <p>
            The initiation of this project was purely fun-motivated.
            We wanted to create a tool that simplifies people's lives (including ourselves'),
            for managing their dataset in an easy and efficient way,
            which then can be used for training their neural network to perfectly fit their preferences.
            
            Plus, at the same time, we learnt a lot during the process of turning this idea into reality.
            
            Everyone can become a true Man of Culture, and with this tool it is now easier than ever before.
          </p>
          <p>
            Thank you for using / checking out our project! Both the frontend and backend are open-source,
            and can be found on GitHub, with the links below.
          </p>
          <h5>
            Fronted & Middleware
          </h5>
          <a href="https://github.com/legekka/manofculture-webui" target="_blank">
            https://github.com/legekka/manofculture-webui
          </a>
          <h5>
            Backend
          </h5>
          <a href="https://github.com/legekka/ai-backend" target="_blank">
            https://github.com/legekka/ai-backend
          </a>
        </div>
        <div class="about-modal__copyright">
          © <%- currentYear -%> Spkz & legekka, Boltzmann Group.<br />
          All rights reserved. Licensed under the MIT License.
        </div>
      </div>
    </div>
  </div>
</about-modal>