<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Man of Culture WebUI</title>
  <meta name="description" content="Man of Culture Rating Data Management">

  <link rel="stylesheet" href="base.css">
  <script type="text/javascript" src="lazysizes.min.js" async=""></script>
  <script type="text/javascript" src="frontend.js" defer></script>

  <!-- common svg definitions -->
  <!-- plus sign -->
  <svg fill="currentColor" width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="plus">
      <path d="M5,12H19M12,5V19" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
    </symbol>
  </svg>
  <!-- minus sign -->
  <svg fill="currentColor" width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="display: none">
    <symbol id="minus">
      <line x1="19" y1="12" x2="5" y2="12" style="fill: none; stroke: currentColor; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line>
    </symbol>
  </svg>

  <script>
    window.LazySizesConfig = window.LazySizesConfig || {
      loadMode: 2,
      expand: 10,
      expFactor: 1.5,
      hFac: 0.8,
      loadHidden: true,
      ricTimeout: 0,
      throttleDelay: 125,
      lazyClass: 'lazyload',
      loadedClass: 'lazyloaded',
    };

  </script>
</head>