<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Man of Culture WebUI</title>
  <meta name="description" content="Man of Culture Rating Data Management">

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <meta name="msapplication-TileColor" content="#51d84c">
  <meta name="theme-color" content="#242933">

  <link rel="stylesheet" href="base.css">
  <script type="text/javascript" src="lazysizes.min.js" async=""></script>
  <script type="text/javascript" src="echarts.min.js" async="" onload="window.echartsLoaded = true"></script>
  <script type="text/javascript" src="frontend.js" defer></script>

  <script>
    window.LazySizesConfig = window.LazySizesConfig || {
      loadMode: 2,
      expand: 10,
      expFactor: 1.5,
      hFac: 0.8,
      loadHidden: true,
      ricTimeout: 0,
      throttleDelay: 125,
      lazyClass: 'lazyload',
      loadedClass: 'lazyloaded',
    };
    window.rankColors = ["#cc1a9d", "#00afbf", "#83d81c", "#e8b73f", "#fb8a5a", "#e95356", "#d5d5d5"];
    window.rankColorsDark = ["#660d4f", "#005860", "#426c0e", "#745c20", "#7e452d", "#752a2b", "#6b6b6b"];
    window.echartsLoaded = false;
  </script>
</head>