<toast-message data-type="success">
  <p>Success:
    <span class="content">
      <!-- This is rendered by JavaScript -->
    </span>
  </p>
</toast-message>
<toast-message data-type="error">
  <p>Error:
    <span class="content">
      <!-- This is rendered by JavaScript -->
    </span>
  </p>
</toast-message>
<toast-message data-type="warning">
  <p>Warning: 
    <span class="content">
      <!-- This is rendered by JavaScript -->
    </span>
  </p>
</toast-message>