<view-stats class="hidden">
  <div class="view-stats__inner">
    <div class="view-stats__close">
      <button type="button" data-action="close-stats">
        <svg>
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>
    <div class="view-stats__info-container">
      <h3>Rating statistics</h3>
      <div class="view-stats__info-content">
        <!-- This is rendered by JavaScript -->
      </div>
    </div>
    <div class="view_stats__diagram-container">
      <!-- This is rendered by JavaScript -->
    </div>
  </div>
</view-stats>