<view-modal class="hidden">
  <div class="view-modal__inner">
    <div class="view-modal__close">
      <button type="button" data-action="close-modal">
        <svg>
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>

    <div class="view-modal__image-container">
      <button type="button" data-action="previous-image">
        <svg>
          <use xlink:href="#arrow-left"></use>
        </svg>
      </button>

      <img src="" class="lazyload">

      <button type="button" data-action="next-image">
        <svg>
          <use xlink:href="#arrow-right"></use>
        </svg>
      </button>
    </div>

    <div class="view-modal__info-container hidden">
      <h3>Rating</h3>
      <div class="view-modal__rating">
        <input type="radio" name="rating" id="rating_0" value="0">
        <label for="rating_0">
          <img src="rating_0.png">
        </label>
        <input type="radio" name="rating" id="rating_1" value="0.17">
        <label for="rating_1">
          <img src="rating_1.png">
        </label>
        <input type="radio" name="rating" id="rating_2" value="0.33">
        <label for="rating_2">
          <img src="rating_2.png">
        </label>
        <input type="radio" name="rating" id="rating_3" value="0.5">
        <label for="rating_3">
          <img src="rating_3.png">
        </label>
        <input type="radio" name="rating" id="rating_4" value="0.67">
        <label for="rating_4">
          <img src="rating_4.png">
        </label>
        <input type="radio" name="rating" id="rating_5" value="0.83">
        <label for="rating_5">
          <img src="rating_5.png">
        </label>
        <input type="radio" name="rating" id="rating_6" value="1">
        <label for="rating_6">
          <img src="rating_6.png">
        </label>
      </div>

      <div class="view-modal__filename">
        <svg>
          <use xlink:href="#picture"></use>
        </svg>
        <p>
          <!-- This is rendered by JavaScript -->
        </p>
      </div>

      <h3>Tags</h3>
      <div class="view-modal__tags">
        <!-- This is rendered by JavaScript -->
      </div>

      <button type="button" data-action="remove-rating">
        <span>
          <svg>
            <use xlink:href="#trash"></use>
          </svg>
        </span>
        <span>
          Remove rating
        </span>
      </button>
    </div>
  </div>
</view-modal>