<view-stats class="hidden">
  <div class="view-stats__inner">
    <div class="view-stats__close">
      <button type="button" data-action="close-stats">
        <svg>
          <use xlink:href="#plus"></use>
        </svg>
      </button>
    </div>

    <div class="view-stats__info-container">
      <h3>Rating statistics</h3>
      <div class="view-stats__rating-info">
        <!-- This is rendered by JavaScript -->
      </div>
      <h3>Backend status</h3>
      <div class="view-stats__backend-info">
        <!-- This is rendered by JavaScript -->
      </div>
      <div class="view-stats__current-training hidden">
        <div class="current-user">
          <!-- This is rendered by JavaScript -->
        </div>
        <div class="current-progress">
          <!-- This is rendered by JavaScript -->
        </div>
      </div>
    </div>
    <div class="view_stats__diagram-container">
      <!-- This is rendered by JavaScript -->
    </div>
  </div>
</view-stats>