/* Colors & Fonts from Nord Theme: https://www.nordtheme.com/ */
/* --- Fonts --- */
@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Light.woff2') format('woff2'),
       url('Rubik-Light.woff') format('woff'),
       url('Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-LightItalic.woff2') format('woff2'),
       url('Rubik-LightItalic.woff') format('woff'),
       url('Rubik-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.woff2') format('woff2'),
       url('Rubik-Regular.woff') format('woff'),
       url('Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Italic.woff2') format('woff2'),
       url('Rubik-Italic.woff') format('woff'),
       url('Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Medium.woff2') format('woff2'),
       url('Rubik-Medium.woff') format('woff'),
       url('Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-MediumItalic.woff2') format('woff2'),
       url('Rubik-MediumItalic.woff') format('woff'),
       url('Rubik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Bold.woff2') format('woff2'),
       url('Rubik-Bold.woff') format('woff'),
       url('Rubik-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-BoldItalic.woff2') format('woff2'),
       url('Rubik-BoldItalic.woff') format('woff'),
       url('Rubik-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

/* Resets from: https://github.com/hankchizljaw/modern-css-reset */
/* --- Reset --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --- Variables --- */
:root {
  --background-color: #2e3440;
  --font-color: #eceff4;
  --font-family: 'Rubik', sans-serif;
  --base-font-size: 10px;

  --background-light: #3b4252;
  --background-lighter: #434c5e;
  --background-lightest: #4c566a;

  --accent-1: #8fbcbb;
  --accent-2: #88c0d0;
  --accent-3: #81a1c1;
  --accent-4: #5e81ac;

  --highlight-1: #bf616a;
  --highlight-2: #d08770;
  --highlight-3: #ebcb8b;
  --highlight-4: #a3be8c;
  --highlight-5: #7c5b76;
}

/* --- Global --- */
html,
body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--font-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

h5 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

h6 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 1em;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1em;
}

svg {
  width: 2em;
  height: 2em;
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
}

.page-wrapper.blurred {
  filter: blur(3px);
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 980px) {
  .page-wrapper {
    padding: 25px;
  }
}

@media screen and (max-width: 480px) {
  .page-wrapper {
    padding: 15px;
  }
}

.grid-wrapper {
  --col-count: 4;
  --col-gap: 40px;
}

@media screen and (max-width: 980px) {
  .grid-wrapper {
    --col-count: 3;
    --col-gap: 25px;
  }
}

@media screen and (max-width: 480px) {
  .grid-wrapper {
    --col-count: 2;
    --col-gap: 10px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--col-count),
    calc((100% / var(--col-count)) - ((var(--col-gap) * (var(--col-count) - 1)) / var(--col-count)))
  );
  grid-column-gap: var(--col-gap);
  grid-row-gap: var(--col-gap);
  position: relative;
  z-index: 1;
}

.grid-item {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.grid-item.empty {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.grid-item::before {
  background: linear-gradient(
    105deg, 
    var(--background-color) 0%, 
    var(--background-light) 25%, 
    var(--background-lighter) 50%,
    var(--background-color) 75%,
    var(--background-lighter) 100%
  );
  opacity: 1;
  content: '';
  position: absolute;
  background-size: 500% 500%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: image-loading 2s ease-in-out infinite alternate;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.grid-item.loaded::before {
  opacity: 0;
}

.grid-item::after {
  position: absolute;
  content: attr(data-rank);
  bottom: 0.5rem;
  right: 0.5rem;
  width: 3.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--background-lightest);
  border-radius: 1rem;
  font-size: 1.2rem;
  line-height: 1em;
  z-index: 1;
  opacity: 0;
  text-align: center;
  font-weight: 500;
  box-shadow: 2px 2px 0 0px var(--rank-color);
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.grid-item.loaded::after {
  opacity: 1;
  visibility: visible;
  transition-delay: .4s;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.rank__triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 6.5rem;
  height: 6.5rem;
  background: linear-gradient(
    -45deg,
    var(--background-light) 0%,
    var(--background-light) 50%,
    transparent 50%,
    transparent 100%
  );
}

@keyframes image-loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.grid-item > img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  clip-path: polygon(
    15% 0%,
    100% 0%,
    100% 0%,
    100% 80%,
    80% 100%,
    15% 100%,
    0% 100%,
    0% 0%
  ); /* lmao */
}

img.lazyload {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

img.lazyloaded {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

img.lazyloaded::before {
  display: none;
}

/* --- Discord button --- */
.discord-button {
  font-size: 3rem;
  text-decoration: none;
  color: var(--font-color);
  background: var(--accent-4);
  padding: 2rem;
  margin-top: 5rem;
  border-radius: 1rem;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 2em;
  transition: background-color .2s ease-in-out;
}

@media screen and (max-width: 680px) {
  .discord-button {
    font-size: 2rem;
  }
}

.discord-button:hover,
.discord-button:active,
.discord-button:focus-visible {
  background-color: var(--accent-3);
}

/* --- Image grid component --- */
image-grid {
  display: block;
  position: relative;
  padding-top: 100px;
}

.pagination-controls {
  position: absolute;
  right: 0;
  top: 30px;
  font-size: 1.6rem;
}

.custom-radio {
  opacity: 0;
}

.custom-radio + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
}

.custom-radio + label::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background-color: var(--background-lightest);
  border-radius: 1em;
  cursor: pointer;
}

.custom-radio:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  box-shadow: inset 0 0 0.042em 0.25em var(--accent-2);
  cursor: pointer;
}

.open-stats {
  position: absolute;
  left: 0;
  top: 30px;
  font-size: 1.6rem;
}

/* --- Pagination nav component --- */
pagination-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
  position: relative;
  z-index: 2;
  padding: 0 112px;
}

.pagination-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

pagination-nav a {
  font-size: 1.6rem;
  color: var(--font-color);
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out;
  white-space: nowrap;
}

@media screen and (max-width: 980px) {
  pagination-nav {
    padding: 0;
  }

  pagination-nav a {
    font-size: 1.4rem;
  }

  .pagination-nav > *:not(.active):not(.prev):not(.next) {
    display: none;
  }
}

.pagination-nav > * {
  margin: 0 5px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

pagination-nav a:hover,
pagination-nav a:active,
pagination-nav a:focus-visible {
  background-color: var(--accent-3);
}

pagination-nav a.active {
  background-color: var(--accent-4);
}

img {
  opacity: 1;
  transition: all 0.2s ease-in-out !important;
}

.hidden,
img.transitioning  {
  opacity: 0 !important;
  transition: all 0.2s ease-in-out !important;
}

img[src=""] {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: unset !important;
}

/* --- Jump to page component --- */
/* --- And --- */
/* --- Tag search component --- */
jump-to-page {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

tag-search {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 980px) {
  jump-to-page,
  tag-search {
    top: -100%;
    transform: unset;
    font-size: 1.4rem;
  }
}

jump-to-page [data-action="open-controls"],
tag-search [data-action="open-controls"],
.open-stats [data-action="open-stats"] {
  all: unset;
  font-size: 1.6rem;
  padding: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

jump-to-page [data-action="open-controls"].open,
tag-search [data-action="open-controls"].open,
.open-stats [data-action="open-stats"].open {
  background-color: var(--accent-4);
}

jump-to-page [data-action="open-controls"].open:hover,
tag-search [data-action="open-controls"].open:hover
.open-stats [data-action="open-stats"].open:hover {
  background-color: var(--accent-4);
}

jump-to-page [data-action="open-controls"]:hover,
jump-to-page [data-action="open-controls"]:active,
jump-to-page [data-action="open-controls"]:focus-visible,
tag-search [data-action="open-controls"]:hover,
tag-search [data-action="open-controls"]:active,
tag-search [data-action="open-controls"]:focus-visible,
.open-stats [data-action="open-stats"]:hover,
.open-stats [data-action="open-stats"]:active,
.open-stats [data-action="open-stats"]:focus-visible {
  background-color: var(--accent-3);
}

jump-to-page svg {
  width: 1.8em;
  height: 1.8em;
}

tag-search svg {
  margin-left: 1rem;
  cursor: pointer;
}

.jump-to-page__controls {
  font-size: 1.4rem;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 100%;
  margin-top: 10px;
  transform: translateX(-50%);
  padding: 1rem 0.5rem;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--background-lightest);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.jump-to-page__controls.hidden,
.tag-search__controls.hidden {
  pointer-events: none;
}

.tag-search__controls {
  font-size: 1.4rem;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
  padding: 1.4rem 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--background-lightest);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.jump-to-page__controls button,
.tag-search__controls button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: 0.25em;
  cursor: pointer;
}

.jump-to-page__controls > * {
  flex-grow: 0;
}

.jump-to-page__controls input {
  all: unset;
  color: var(--font-color);
  box-shadow: 0 4px 0 -2px var(--accent-4);
  transition: box-shadow 0.2s ease-in-out;
  text-align: center;
  width: 3ch;
  margin: 0 4px 0 2px;
}

.tag-search__controls input {
  all: unset;
  color: var(--font-color);
  box-shadow: 0 4px 0 -2px var(--accent-4);
  transition: box-shadow 0.2s ease-in-out;
  text-align: left;
  width: 30ch;
}

.jump-to-page__controls input:active,
.jump-to-page__controls input:focus-visible,
.tag-search__controls input:active,
.tag-search__controls input:focus-visible {
  box-shadow: 0 4px 0 -1px var(--accent-3);
}

/* --- Rating modal component --- */
view-modal {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

view-modal::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

view-modal.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

view-modal.hidden::before {
  opacity: 0;
}

.view-modal__inner {
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  left: 50%;
  top: 50%;
  width: calc(100% - 4rem);
  height: auto;
  padding: 4rem;
  max-width: 1350px;
  max-height: 600px;
  transform: translate(-50%, -50%);
  background-color: var(--background-lighter);
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

view-modal.hidden .view-modal__inner {
  opacity: 0;
  transform: translate(-50%, -25%);
}

.view-modal__rating {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-column-gap: 0.5rem;
}

.view-modal__rating input {
  display: none;
}

.view-modal__image-container {
  flex: 1;
  margin: -4rem 0 -4rem -4rem;
  background-color: var(--background-light);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.view-modal__image-container > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0 auto;
}

.view-modal__image-container > button {
  all: unset;
  position: absolute;
  cursor: pointer;
  padding: 2rem;
  background-color: var(--background-lighter);
  opacity: 0.8;
  border-radius: 2rem;
  top: 50%;
  transform: translateY(-50%);
}

.view-modal__image-container > button > svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.view-modal__image-container > button[data-action="previous-image"] {
  left: 2rem;
}

.view-modal__image-container > button[data-action="next-image"] {
  right: 2rem;
}

.view-modal__info-container {
  flex: 1;
  padding-left: 2rem;
  max-width: 350px;
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.view-modal__info-container.hidden {
  transform: translateY(10%);
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

@media screen and (max-width: 680px) {
  .view-modal__inner {
    flex-direction: column;
    padding: 2rem;
    max-width: 480px;
    max-height: 800px;
    overflow: auto;
  }

  .view-modal__image-container {
    margin: -4rem -2rem 0 -2rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    overflow: unset;
  }

  .view-modal__info-container {
    padding-left: 0;
    padding-top: 2rem;
    max-width: 100%;
  }
}

.view-modal__info-container h3 {
  font-size: 2.5rem;
}

.view-modal__close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.5rem;
}

.view-modal__inner [data-action="close-modal"] {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: rotate(45deg);
  transform-origin: center center;
  background: var(--background-lighter);
  border-radius: 2em;
}

.view-modal__inner input[type="radio"] + label {
  position: relative;
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

.view-modal__inner input[type="radio"] + label::before,
.view-modal__inner input[type="radio"] + label::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20rem;
  background-color: var(--background-lightest);
  opacity: 1;
  mix-blend-mode: color;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.view-modal__inner input[type="radio"]:checked + label::before,
.view-modal__inner input[type="radio"]:checked + label::after {
  opacity: 0;
}

.view-modal__inner input[type="radio"]:hover + label {
  opacity: 1;
}

.view-modal__inner input[type="radio"]:not(:checked):hover + label::before,
.view-modal__inner input[type="radio"]:not(:checked):hover + label::after {
  opacity: 0.5;
}

.view-modal__inner input[type="radio"]:checked + label {
  opacity: 1;
}

.view-modal__filename {
  display: flex;
  align-items: center;
  margin: 2rem 0 4rem 0;
}

.view-modal__filename svg {
  fill: var(--accent-3);
  margin-right: 1rem;
  width: 3em;
  height: 3em;
}

.view-modal__filename p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
  hyphens: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-shadow: 0 4px 0 -2px var(--accent-4);
}

.view-modal__tags {
  display: flex;
  flex-wrap: wrap;
}

.view-modal__tags > * {
  margin-right: 0.5rem;
}

.view-modal__tags .tag {
  font-size: 1.4rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--background-lightest);
  color: var(--font-color);
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.view-modal__tags .tag.active {
  background-color: var(--highlight-5);
}

/* --- view-stats component --- */
view-stats {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

view-stats::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

view-stats.hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

view-stats.hidden::before {
  opacity: 0;
}

.view-stats__inner {
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: 4;
  left: 50%;
  top: 50%;
  width: calc(100% - 4rem);
  height: auto;
  padding: 4rem;
  max-width: 1350px;
  max-height: 600px;
  transform: translate(-50%, -50%);
  background-color: var(--background-lighter);
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

view-stats.hidden .view-stats__inner {
  opacity: 0;
  transform: translate(-50%, -25%);
}

.view-stats__inner [data-action="close-stats"] {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform: rotate(45deg);
  transform-origin: center center;
  background: var(--background-lighter);
  border-radius: 2em;
}

.view-stats__close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1.5rem;
}

.view_stats__diagram-container {
  width: 100%;
  min-height: 600px;
  max-width: 600px;
  margin: -4rem -4rem -4rem auto;
}

.view-stats__inner h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.view-stats__inner h3:not(:first-child) {
  margin-top: 5rem;
}

.view-stats__info-container p span {
  font-weight: 500;
}

.view-stats__current-training {
  position: relative;
  background-color: var(--background-light);
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 3rem;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
  animation: training-pulse 1s ease-in-out infinite alternate;
  border: 1px solid;
}

.view-stats__current-training.hidden {
  height: 0;
  padding: 0;
  overflow: hidden;
}

@keyframes training-pulse {
  0% {
    border-color: rgba(235, 203, 139, 0);
  }
  100% {
    border-color: rgba(235, 203, 139, 1);
  }
}

@media screen and (max-width: 980px) {
  .view-stats__inner {
    flex-direction: column-reverse;
    padding: 2rem;
    max-width: 480px;
    max-height: 800px;
    overflow: auto;
  }

  .view_stats__diagram-container {
    margin: -2rem -2rem 2rem -2rem;
    max-width: unset;
    height: 400px;
    min-height: unset;
    width: calc(100% + 4rem);
    overflow: unset;
  }
}

/* --- Toast message component --- */
toast-message {
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: 50px;
  transform: translate(-50%, 150%);
  background-color: var(--background-lightest);
  border-radius: 10px;
  box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

toast-message.open {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

toast-message p {
  margin: 0;
  font-weight: 400;
  font-size: 1.8rem;
}

toast-message[data-type="success"] {
  background-color: var(--highlight-4);
  color: var(--background-color);
}

toast-message[data-type="warning"] {
  background-color: var(--highlight-3);
  color: var(--background-color);
}

toast-message[data-type="error"] {
  background-color: var(--highlight-1);
}